.navbar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
}

.titleBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.title {
    font-size: 30px;
}

.logo {
    width: 120px;
    height: 100px;
    background-color: black;
}